$accentColor: #E58F6C;
$bgColor: #f6d8cc;
$primaryColor: #5a3a22;

.logout{
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 20px;
    }
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    grid-gap: 1rem;



    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;

        .btn-action{
            position: relative;
            margin-right: 0;
            margin-left: auto;
        }

        .logout-btn {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 768px) {
        &.logout {
            margin-bottom: 60px;
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__body {
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 16px;
        border: 1px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px 0;
    }

    & .img-container {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 15%;
        overflow: hidden;
    }

    label{
        font-size: 1.5em;
        justify-content: center;
        display: flex;
        margin: 10px auto;
        font-weight: bold;
    }

    & input {
        padding: 10px;
        border: 1px solid $accentColor;
        border-radius: 8px;
        margin-bottom: 10px;
        color: $accentColor;
        font-weight: bold;
        
        &::placeholder {
            color: darkgrey;
            font-weight: normal;
        }
    }

    .helperContainer{
        text-align: start;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
        padding: 0 20px;

        & input {
            width: 100%;
        }
    }
    
    .emphasis{
        color: $accentColor;
        font-weight: bold;
    
        &:hover{
            cursor: pointer;
            filter: brightness(1.2);
        }
    }
    
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;

    .orderslist {
        margin: 0 auto;
        border-radius: 16px;
        border: 1px solid $primaryColor;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        > table {
            padding: 40px;
            table-layout:fixed;
            flex-grow: 1;

            & ul {
                padding-left: 1rem;
            }
        }

        > table:nth-child(even) {
            background-color: lighten($primaryColor, 60%)
        }

        /* select all table children except the first one */
        & > table:not(:first-child) {
            border-top: 1px solid $accentColor;
        }

        @media screen and (max-width: 768px) {
            table {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
    
                & tr {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

.deleteAccount {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__btn {
        border: none;
        background-color: transparent;
        color: $accentColor;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            font-weight: bold;
        }
    }
}