$accentColor: #E58F6C;
$bgColor: #f6d8cc;
$primaryColor: #5a3a22;

.btn-socials {
    &:disabled {
        opacity: 0.5;
        color: $primaryColor;
        cursor: not-allowed;
    }
}


table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        border: 1px solid $primaryColor;
        padding: 8px;
        text-align: center;
    }

    & .hero {
        &__container{
            display: flex;
            column-gap: 10px;
            justify-content: space-between;
            position: relative;

            &__img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__btn {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &__sku {
            font-style: italic;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__description {
            white-space: pre-line;
        }
    
        &__title {
            color: $primaryColor;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
        }
    
        &__main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            padding: 0 10px;
            width: 100%;
        }
    
        &__price {
            font-size: 1rem;
            color: $accentColor;
            font-weight: bold;
        }
    }
}