<table class="table table--md get-items">
    <thead>
        <tr>
            <th>Modifié</th>
            <th>Produit</th>
            <th>Action</th>
            <th>Supprimer</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of products">
            <td>
                <button
                    class="btn-socials"
                    (click)="editProduct(item)"
                >
                    <fa-icon [icon]="faPenSquare"></fa-icon>
                </button>
            </td>
            <td
                class="hero" 
            >
                <div class="hero__container">
                    <div class="hero__container__img">
                        <img 
                            [src]="item.image" 
                            width="200" height="200" 
                            alt={{item.title}}
                            crossorigin="anonymous"
                        >
                    </div>
                    <div class="hero__main card__content">
                        <a [routerLink]="['/detail/', item.id]" class="card__link"></a>
                        <h3>
                            {{ item.title }}
                        </h3>
                        <p class="card__description">
                            {{ item.description }}
                        </p>
                        <div class="card__content__footer">
                            <span class="card__sku">
                                SKU : {{ item.sku }}
                            </span>
                            <span>
                                <span class="text-accent">Allergènes : </span>
                                {{ item.allergens }}
                            </span>
                        </div>
                        <div class="card__footer">
                            <div class="card__price">
                                <div class="card__price__tag">
                                    <span>
                                        Prix : 
                                    </span>
                                </div>
                                <div class="card__price__value">
                                    <span>
                                        {{ item.price | currency: 'EUR' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <button
                    class="btn-socials"
                    (click)="updateProductData('isActive', item)"
                >
                    <fa-icon *ngIf='item.isActive' [icon]="faEye"></fa-icon>
                    <fa-icon *ngIf='!item.isActive' [icon]="faEyeSlash"></fa-icon>
                </button>
                <button 
                    class="btn-socials"
                    (click)="updateProductData('highlight', item)"
                >
                    <fa-icon *ngIf="item.highlight" [icon]="faLightbulbS"></fa-icon>
                    <fa-icon *ngIf="!item.highlight" [icon]="faLightbulbReg"></fa-icon>
                </button>
                <button
                    class="btn-socials"
                    (click)="updateProductData('popular', item)"
                    [disabled]="!item.popular && favsCount >=4"
                >
                    <fa-icon *ngIf="item.popular" [icon]="faStarS"></fa-icon>
                    <fa-icon *ngIf="!item.popular" [icon]="faStarReg"></fa-icon>
                </button>
            </td>
            <td>
                <button
                    class="btn-socials"
                    (click)="deleteProduct(item)"
                >
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table--sm get-items">
    <!-- <thead>
        <tr>
            <th>Produit</th>
            <th>Action</th>
        </tr>
    </thead> -->
    <!-- <tbody> -->
        <tr 
            *ngFor="let item of products; let last = last"
            [ngClass]="{'last': last}"
        >
            <td>
                <app-card-product [product]="item"></app-card-product>
            </td>
            <!-- <td>
                <div class="hero__container">
                    <div class="hero__actions">
                        <button
                            class="btn btn--primary"
                            (click)="editProduct(item)"
                        >
                            Editer
                        </button>
                        <button
                            class="btn btn--secondary"
                            (click)="deleteProduct(item)"
                        >
                            Supprimer
                        </button>
                    </div>
                    <div class="hero__container__img">
                        <img 
                            [src]="item.thumbImage" 
                            width="200" height="200" 
                            alt={{item.title}}
                            crossorigin="anonymous"
                        >
                    </div>
                    <div 
                        class="hero__main hero__main--sm card__content"
                    >
                        <a [routerLink]="['/detail/', item.id]" class="card__link"></a>
                        <h3>
                            {{ item.title }}
                        </h3>
                        <p class="card__description">
                            {{ item.description }}
                        </p>
                        <div class="card__content__footer">
                            <span class="card__sku">
                                SKU : {{ item.sku }}
                            </span>
                            <span>
                                <span class="text-accent">Allergènes : </span>
                                {{ item.allergens }}
                            </span>
                        </div>
                        <div class="card__footer">
                            <div class="card__price">
                                <div class="card__price__tag">
                                    <span>
                                        Prix : 
                                    </span>
                                </div>
                                <div class="card__price__value">
                                    <span>
                                        {{ item.price | currency: 'EUR' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td> -->
            <!-- <td class="table--sm__actions">
                <div>                
                    <button
                        class="btn-socials"
                        (click)="updateProductData('isActive', item)"
                    >
                        <fa-icon *ngIf='item.isActive' [icon]="faEye"></fa-icon>
                        <fa-icon *ngIf='!item.isActive' [icon]="faEyeSlash"></fa-icon>
                    </button>
                </div>
                <div>
                    <button 
                        class="btn-socials"
                        (click)="updateProductData('highlight', item)"
                    >
                        <fa-icon *ngIf="item.highlight" [icon]="faLightbulbS"></fa-icon>
                        <fa-icon *ngIf="!item.highlight" [icon]="faLightbulbReg"></fa-icon>
                    </button>
                </div>
                <div>
                    <button
                        class="btn-socials"
                        (click)="updateProductData('popular', item)"
                        [disabled]="!item.popular && favsCount >=4"
                    >
                        <fa-icon *ngIf="item.popular" [icon]="faStarS"></fa-icon>
                        <fa-icon *ngIf="!item.popular" [icon]="faStarReg"></fa-icon>
                    </button>
                </div>
            </td> -->
        </tr>
    <!-- </tbody> -->


</table>


<app-update-product *ngIf='updateBoolean' [product]="updateProduct" (close)="triggerEventClose($event)"></app-update-product>