<article  class="card__container">
    <div *ngIf="isAdmin" class="card__admin">
        <div class="card__admin--left">
            <button
                class="btn-socials"
                (click)="editProduct(product)"
                *ngIf="isAdmin"
            >
                <fa-icon [icon]="faPenSquare"></fa-icon>
            </button>
        </div>
        <div class="card__admin--right">
            <button 
                class="btn-socials"
                (click)="removeProduct(product)"
                *ngIf="isAdmin"
            >
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div [ngClass]="infoLength === 'short'? 'card__img-container' : 'card__img-container card__img-container--full'">
        <a *ngIf="infoLength === 'short'" [routerLink]="['/detail/', product.id]" class="card__link"></a>
        <img 
            [src]="imgRes === 'low'? product.thumbImage : product.image"
            loading="lazy" 
            crossorigin="anonymous"
            alt={{product.title}}
        >
    </div>
    <div class="card__content">
        <a *ngIf="infoLength === 'short'" [routerLink]="['/detail/', product.id]" class="card__link"></a>
        <h3>
            {{product.title}}
        </h3>
        <p class="card__description">
            {{ product.description }}
        </p>
        <div class="card__content__footer" *ngIf="infoLength === 'long'">
            <span class="card__sku">SKU : {{ product.sku }}</span>
            <span>
                <span class="text-accent">Allergènes : </span>
                {{ product.allergens }}
            </span>
        </div>
    </div>
    <div class="card__footer">
        <div class="card__price">
            <div class="card__price__tag">
                <span>Prix : </span>
            </div>
            <div class="card__price__value">
                <span>{{product.price}}€ </span>
                <!-- Insert a span that multiply the product.price by the quantity if the value of the quantity input is greater than 1 -->
                <span *ngIf="orderForm.get('quantity')?.value > 1">
                    ( x {{ orderForm.get('quantity')?.value }} = {{ getTotalPrice() }}€)
                </span>
            </div>
        </div>
        <div class="card__quantity" *ngIf="infoAdmin === 'yes'">
            <div class="card__quantity__tag">
                <span>Visibilité : </span>
            </div>
            <div class="card__quantity__value">
                <button
                    class="btn-socials"
                    (click)="updateProductData('isActive', product)"                    
                >
                    <fa-icon *ngIf='product.isActive' [icon]="faEye"></fa-icon>
                    <fa-icon *ngIf='!product.isActive' [icon]="faEyeSlash"></fa-icon>
                </button>
            </div>
        </div>
        <div class="card__quantity" *ngIf="infoAdmin === 'yes'">
            <div class="card__quantity__tag">
                <span>A la une : </span>
            </div>
            <div class="card__quantity__value">
                <button 
                class="btn-socials"
                (click)="updateProductData('highlight', product)"
            >
                <fa-icon *ngIf="product.highlight" [icon]="faLightbulbS"></fa-icon>
                <fa-icon *ngIf="!product.highlight" [icon]="faLightbulbReg"></fa-icon>
            </button>
            </div>
        </div>
        <div class="card__quantity" *ngIf="infoAdmin === 'yes'">
            <div class="card__quantity__tag">
                <span>Best-sellers : </span>
            </div>
            <div class="card__quantity__value">
                <button
                class="btn-socials"
                (click)="updateProductData('popular', product)"
                [disabled]="!product.popular && favsCount >=4"
            >
                <fa-icon *ngIf="product.popular" [icon]="faStarS"></fa-icon>
                <fa-icon *ngIf="!product.popular" [icon]="faStarReg"></fa-icon>
            </button>
            </div>
        </div>
        <div class="card__cart" *ngIf="infoLength === 'long' && infoPrice === 'yes'">
            <form [formGroup]="orderForm">
                <div class="card__order__quantity">
                    <div class="card__quantity">
                        <div class="card__quantity__tag">
                            <span>Quantité : </span>
                        </div>
                        <div class="card__quantity__value">
                            <button
                                class="card__quantity__btn"
                                (click)="removeQuantity()"
                            >
                                <fa-icon [icon]="faMinusSquare"></fa-icon>
                            </button>
                            <input 
                                type="number" 
                                id="quantity" 
                                name="quantity" 
                                formControlName="quantity"
                                min="1" 
                                max="10" 
                                value="1"
                            >
                            <button
                                class="card__quantity__btn"
                                (click)="addQuantity()"
                            >
                                <fa-icon [icon]="faPlusSquare"></fa-icon>
                            </button>
                        </div>
                    </div>
                    
                </div>
                <button 
                    class="btn btn--primary card__cart__btn-order"
                    type="submit"
                    (click)="onOrder()"
                >
                    Ajouter au panier
                </button>
            </form>

        </div>
        <div class="card__cart" *ngIf="infoLength === 'short' && infoPrice === 'yes'">
            <button
                class="btn btn--primary card__cart__btn-order"
                (click)="addTocart(product)"
            >
                Ajouter au panier
            </button>
        </div>
    </div>
</article>

<app-update-product *ngIf='updateBoolean' [product]="updateProduct" (close)="triggerEventClose($event)"></app-update-product>