$accentColor: #E58F6C;
$bgColor: #f6d8cc;
$primaryColor: #5a3a22;

.login {
    @media screen and (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: calc(100vh - 160px);
    }
}

.main{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
	overflow: hidden;
	border-radius: 16px;
    border: 1px solid $primaryColor;
}


label{
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px auto;
	font-weight: bold;
}
input{
	height: 20px;
	background: grey;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.helperContainer{
    text-align: start;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.emphasis{
    color: $accentColor;
    font-weight: bold;

    &:hover{
        cursor: pointer;
        filter: brightness(1.2);
    }
}

.two-cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & .left-col{
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .form-group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-top: 10px;
    
            & input {
                width: 350px;
                height: 40px;
                padding: 10px;
                border: 1px solid $accentColor;
                border-radius: 8px;
                margin-bottom: 10px;
                background-color: $bgColor;
                color: $primaryColor;

                @media screen and (max-width: 768px) {
                    width: fit-content;
                }
            }
    
            & textarea {
                width: 350px;
                height: 125px;
                padding: 10px;
                border: 1px solid $accentColor;
                border-radius: 8px;
                margin-bottom: 10px;
            }
        }
    }

    .img-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.register-footer{
    margin: 60px auto;
}

@media screen and (max-width: 768px) {
    .two-cols{
        grid-template-columns: 1fr;

        & .right-col{
            display: none;
        }
    }
}