<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Adresse e-mail</th>
        <th>Supprimer</th>
    </tr>
    <tr *ngFor="let user of users$ | async">
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.email}}</td>
        <td>
            <button 
                class="btn-socials"
                (click)="deleteUser(user._id)"
                *ngIf="user.isAdmin === false"
            >
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </td>
    </tr>
</table>

<app-toast></app-toast>