<section class="legal-notices">
    <h1 class="legal-notices__title">
        Mentions légales
    </h1>

    <div>
        <h3>
            Mes gourMandy’s
        </h3>
        <p>
            Immatriculée au Répertoire des Métiers le 05/08/2021
            <br/>N° de SIRET : 831.734.843.00012
            <br/>
            <br/>Adresse Postale : 2 rue du panais 30132 Caissargues
            <br/>Téléphone : 06.21.91.58.44.
            <br/>E-mail : mesgourmandys@gmail.com
            <br/>
            <br/>Responsable de la rédaction du site : <span class="text-accent">Amandine BAILLE</span>
        </p>
    </div>

    <div>
        <h3>
            HÉBERGEMENT
        </h3>
        <p>
            Wix 
            <br/>Wix Online Platform Limited 
            <br/>Adresse : 1 Grant’s Row, Dublin 2 D02HX96, Ireland.
            <br/>Téléphone : Veuillez cliquer <a class="text-accent" href="https://support.wix.com/en/article/contacting-wix-by-phone-3491545">ici</a>. 
        </p>
    </div>

    <div>
        <h3>
            MENTIONS DE DROITS RÉSERVÉS
        </h3>
        <p>
            Lorsque vous utilisez le formulaire de contact, nous recueillons les informations personnelles que vous nous donnez, telles que votre nom, votre adresse e-mail et votre numéro de téléphone. Vos informations personnelles ne seront utilisées que pour vos retraits de commandes, livraisons ou campagnes de marketing.
            <br/>Conformément à la Loi « Informatique et Libertés » nº 78-17 du 6 janvier 1978, les informations vous concernant sont destinées au site <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a>, responsable du traitement.
            <br/>Vous disposez d’un droit d’accès, de rectification et de suppression des données qui vous concernent. Vous pouvez l’exercer en contactant le propriétaire du site internet soit  via le formulaire de contact soit par e-mail à <a class="text-accent" href="mailto:mesgourmandys@gmail.com">mesgourmandys@gmail.com</a>  
        </p>
    </div>

    <div>
        <h3>
            DROITS SUR VOS DONNÉES PERSONNELLES
        </h3>
        <p>
            Notre entreprise est hébergée sur la plateforme Wix.com. Wix.com nous fournit la plateforme en ligne qui nous permet de vous vendre nos produits et services. Vos données peuvent être stockées par le biais du stockage de données, des bases de données et des applications générales de Wix.com. Elles stockent vos données sur des serveurs sécurisés derrière un pare-feu.
            <br/>Vous pouvez demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
            <br/>
            <br/>Si vous ne souhaitez plus que nous traitions vos données, veuillez nous contacter à 
            <br/><a class="text-accent" href="mailto:mesgourmandys@gmail.com">mesgourmandys@gmail.com</a>
        </p>
    </div>

    <div>
        <h3>
            MISE A JOUR DE LA POLITIQUE DE CONFIDENTIALITE
        </h3>
        <p>
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, aussi nous vous invitons à la consulter fréquemment. Les modifications et les clarifications prendront effet dès leur publication sur le site web. Si nous apportons des modifications importantes à la présente politique, nous vous informerons ici de sa mise à jour, afin que vous sachiez quelles informations nous recueillons, comment nous les utilisons et dans quelles circonstances, le cas échéant, nous les utilisons et/ou les divulguons.
        </p>
    </div>
</section>