table{
    width: 100%;
    border-collapse: collapse;

    td, th {
        border: 1px solid #5a3a22;
        padding: 8px;
        text-align: center;
    }

    & .table--sm {
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            padding: 20px;

            &>div:last-of-type {
                margin-top: 20px;
            }

            .flex-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 992px) {
        &.table--lg {
            display: none;
        }

        &.table--sm {
            display: table;
        }
    }

    @media screen and (min-width: 992px) {
        &.table--lg {
            display: table;
        }

        &.table--sm {
            display: none;
        }
    }
}