<app-loading-spinner *ngIf="!product.allergens; else loaded"></app-loading-spinner>

<ng-template #loaded>
    <div class="updateForm__container">
        <form [formGroup]="updateProduct" class="updateForm">
            <div class="updateForm__right">
                <div class="updateForm__group">
                    <label for="title">Nom du produit:</label>
                    <input  
                        type="text" 
                        placeholder={{product.title}}
                        formControlName="title"
                    >
                    <span *ngIf="updateProduct.get('title')!.invalid && updateProduct.get('title')!.touched" class="helperContainer">
                        Merci de fournir un nom de produit.
                    </span>
                </div>
                <div class="updateForm__group">
                    <label for="price">Image:</label>
                    <input  
                        type="file" 
                        id="image"
                        placeholder={{product.image}}
                        (change)="imageSelected($event)"
                    >
                    <span *ngIf="updateProduct.get('image')!.invalid && updateProduct.get('image')!.touched" class="helperContainer">
                        Merci de fournir une image.
                    </span>
                </div>
                <!-- <div class="updateForm__group">
                    <label for="price">Image (aperçu):</label>
                    <input  
                        type="text" 
                        placeholder={{product.thumbImage}}
                        formControlName="thumbImage"
                    >
                </div> -->
                <div class="updateForm__group">
                    <label for="price">Prix:</label>
                    <input  
                        type="text" 
                        placeholder={{product.price}}
                        formControlName="price"
                    >
                    <span *ngIf="updateProduct.get('price')!.invalid && updateProduct.get('price')!.touched" class="helperContainer">
                        Merci de fournir un prix valide.
                    </span>
                </div>
                <div class="updateForm__group">
                    <label for="price">SKU:</label>
                    <input  
                        type="text" 
                        placeholder={{product.sku}}
                        formControlName="sku"
                    >
                    <span *ngIf="updateProduct.get('sku')!.invalid && updateProduct.get('sku')!.touched" class="helperContainer">
                        Merci de fournir un SKU valide.
                    </span>
                </div>
                <div class="updateForm__group">
                    <label for="price">Description:</label>
                    <input  
                        type="text" 
                        placeholder={{product.description}}
                        formControlName="description"
                    >
                    <span *ngIf="updateProduct.get('description')!.invalid && updateProduct.get('description')!.touched" class="helperContainer">
                        Merci de fournir une description.
                    </span>
                </div>
                <div class="updateForm__group">
                    <label for="price">Allergènes:</label>
                    <input  
                        type="text" 
                        placeholder={{product.allergens}}
                        formControlName="allergens"
                    >
                    <span *ngIf="updateProduct.get('allergens')!.invalid && updateProduct.get('allergens')!.touched" class="helperContainer">
                        Merci de fournir un allergène.
                    </span>
                </div>
                <div class="updateForm__group">
                    <label for="isActive">Produit disponible:</label>
                    <input 
                        type="checkbox" 
                        formControlName="isActive"
                        checked={{product.isActive}}
                    >
                </div>

                <button 
                    type="submit" 
                    class="btn btn--primary"
                    (click)="onUpdateProduct()"
                >
                    Modifier le produit
                </button>
            </div>
        </form>
        
        <!-- display a button to close the component -->
        <button 
            class="btn btn--primary btn-close"
            (click)="onClose()"
        >
            Fermer
        </button>
    </div>
</ng-template>

<!-- <app-alert-message 
    *ngIf="alertMessage"
    [(message)]="alertMessage"
></app-alert-message> -->