$accentColor: #E58F6C;
$bgColor: #f6d8cc;
$primaryColor: #5a3a22;

.footer {
    background-color: $bgColor;
    padding: 40px;
    text-align: center;
    height: 100px;

    &__socials {
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
    }

    &__links{
        float: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        & button {
            color: $primaryColor;
            border: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                color: $accentColor;
            }
        }
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        height: 100%;     
        row-gap: 1rem; 
    }
}