<section class="CGV">
    <h1 class="CGV__title">
        Conditions générales de vente  
    </h1>

    <div>
        <h3>
            PREAMBULE
        </h3>
        <p>
            Les conditions générales de vente, ci-après dénommées « les CGV », définissent les droits et obligations des parties dans le cadre de ventes effectuées sur le site internet <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> ci-après dénommé « le site ».

            <br/>Elles sont conclues entre, d'une part, Mes gourMandy’s, et d'autre part, les personnes souhaitant effectuer une commande de produit(s) via le site, ci-après dénommées « le client ». La commande de produits présentés sur le site est soumise à l'acceptation par le client de l'intégralité des présentes telles qu'exposées ci-après.

            <br/>Mes gourMandy’s se réserve le droit d'adapter ou de modifier à tout moment ses CGV.

            <br/>En cas de modification, les CGV applicables à la commande seront celles en vigueur au jour du paiement définitif de la commande.
        </p>
    </div>

    <div>
        <h3>ARTICLE 1 – PRIX</h3>
        <p>
            Les prix sont exprimés en euros HT sur l'intégralité du site (exonéré de TVA, article 293-B du CGI).

            <br/>Toutes les commandes, quelle que soit leur origine, sont payables en euros. 
            <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> se réserve le droit de modifier ses prix à tout moment, mais les produits seront facturés sur la base du tarif en vigueur au moment de l'enregistrement des commandes. 
            <br/>Les produits demeurent la propriété de l’entreprise Mes gourMandy’s jusqu'au complet encaissement du prix. 
            <br/>Nous vous invitons à conserver votre facture. Elle vous servira en cas de réclamation.
        </p>
    </div>
    <div>
        <h3>ARTICLE 2 – COMMANDES ET PRODUITS</h3>
        <p>
            Sur Internet : <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a>
            <br/>Les informations contractuelles sont présentées en langue française.
            
            <br/>Mes gourMandy’s se réserve le droit d'annuler ou de refuser toute commande d'un client avec lequel il existerait un litige relatif au paiement d'une commande antérieure. 
            <br/>Deux types d'informations produits sont délivrés : les informations écrites renseignant sur les caractéristiques techniques et l'information visuelle représentée par une photo du produit.
            
            <br/>Les photos proposées sur ce site ont pour objectif de présenter au mieux nos produits. Cependant celles-ci n'ont pas de valeur contractuelle et à ce titre, la responsabilité de <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> ne saurait être engagée.
        </p>
    </div>
    <div>
        <h3>ARTICLE 3 – VALIDATION</h3>
        <p>
            Vous déclarez avoir pris connaissance et accepté les présentes CGV avant la passation de votre commande. La validation de votre commande vaut donc acceptation de ces CGV.

            <br/>Sauf preuve contraire, les données enregistrées par <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> constituent la preuve de l'ensemble des transactions passées entre <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> et ses clients.
        </p>
    </div>
    <div>
        <h3>ARTICLE 4 - DISPONIBILITÉ</h3>
        <p>
            Les offres de produits et les prix indiqués sont valables tant qu'ils figurent sur le site internet.
        </p>
    </div>
    <div>
        <h3>ARTICLE 5 – RETRAIT DE COMMANDE</h3>
        <p>
            Les commandes sont à retirer dès le lendemain.
            <br/>Les retraits de commande se font du <span class="text-accent">mardi au vendredi</span> entre <span class="text-accent">13h30</span> et <span class="text-accent">18h30</span>, le <span class="text-accent">samedi</span> entre <span class="text-accent">10h30</span> et <span class="text-accent">15h</span> à l’adresse suivante : <span class="text-accent">2 rue du panais 30132 Caissargues.</span>
        </p>
    </div>
    <div>
        <h3>ARTICLE 6 – PAIEMENT</h3>
        <p>
            Le règlement de vos achats s'effectue comptant en espèces ou par chèque lors du retrait de votre commande.
            <br/>Un acompte pourra vous être demandé pour toute commande supérieure à 50€.
        </p>
    </div>
    <div>
        <h3>ARTICLE 7 – REMBOURSEMENT</h3>
        <p>
            Aucun remboursement ne sera effectué dans la mesure où les produits sont comestibles et périssables.
        </p>
    </div>
    <div>
        <h3>ARTICLE 8 – RETOURS</h3>
        <p>
            Selon l'article L. 121-20-2 du code de la consommation, le droit de rétractation est exclu, en raison du caractère périssable des produits proposés.
        </p>
    </div>
    <div>
        <h3>ARTICLE 9 - SERVICE CLIENTÈLE</h3>
        <p>
            Pour toute information ou question, le formulaire de contact est à votre disposition.
        </p>
    </div>
    <div>
        <h3>ARTICLE 10 - PROPRIÉTÉ INTELLECTUELLE</h3>
        <p>
            Tous les textes, commentaires, ouvrages, illustrations et images reproduits sur <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> sont réservés au titre du droit d'auteur ainsi qu'au titre de la propriété intellectuelle et pour le monde entier.
            <br/>À ce titre et conformément aux dispositions du code de la propriété intellectuelle, seule est autorisée l'utilisation pour un usage privé, sous réserve de dispositions différentes, voire plus restrictives du code de la propriété intellectuelle.
            <br/>Toute reproduction totale ou partielle du site <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> est strictement interdite.
        </p>
    </div>
    <div>
        <h3>ARTICLE 11 – LITIGES</h3>
        <p>
            En cas de difficultés dans l'application du présent contrat, le client a la possibilité, avant toute action en justice, de rechercher un règlement à l'amiable.
            <br/>Les réclamations ou contestations seront toujours reçues d'une manière attentive.
            <br/>Le présent contrat est soumis à la loi française. La langue du présent contrat est la langue française.
            <br/>En cas de litige avec des professionnels et/ou commerçants, les tribunaux de Nîmes (France) seront compétents. En cas de litige, les tribunaux français seront seuls compétents.
        </p>
    </div>
    <div>
        <h3>ARTICLE 12 - INFORMATIONS NOMINATIVES</h3>
        <p>
            Le site <a class="text-accent" href="www.mesgourmandys.wixsite.com/website">www.mesgourmandys.wixsite.com/website</a> s'engage à n'utiliser vos adresses e-mails et personnelles qu'au seul usage de la relation commerciale avec ses clients. Conformément à la loi française ''Informatique et libertés'' (Loi du 6 janvier 1978 modifiée) vous disposez d'un droit d'opposition (art. 38) d'accès (art. 39, 41,42), de rectification (art. 40) et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en nous adressant un message par l'intermédiaire de la rubrique "<a class="text-accent" href="/home#contact">Contact</a>".
        </p>
    </div>
</section>